form{
    background: rgba(255, 182, 193, 0.63);
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.main{
   margin-bottom: 30px;
   background-color: lightslategray;
}
.card-1{
    margin-top: 30px;
}